/* GLOBAL */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
  url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root{
  --bg-milky-dark: #C99B67;
  --bg-milky-light: #F3D7B7;
  --bg-green: #0A775F;
  --outline-color: var(--bg-green);
  --bg-grey: #E5E5E5;
  --bg-white: #F8F8F2;
  --text-color: #000;
  --color-text: #333;
  --site-font-family: "Roboto", "Arial", sans-serif;
}

html{
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

*:focus{
  outline: 2px dashed var(--outline-color);
  outline-offset: 3px;
}

body{
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  font-family: var(--site-font-family);
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  background-color: #F8F8F2;
  color: var(--color-text);
}

img{
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-content{
  flex-grow: 1;
  margin-bottom: 50px;
}

.btn{
  text-align: center;
}

.button{
  display: inline-block;
  text-decoration: none;
  padding: 16px 24px;
  border: none;
  border-radius: 100px;
  background-color: var(--bg-green);
  color: #fff;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
}

.button:hover{
  opacity: 0.8;
}

.button:active{
  opacity: 0.6;
}

.button-milky{
  background-color: var(--bg-milky-dark);
}

.disp-flex{
  display: flex;
  align-items: center;
}

.site-header{
  margin-top: 0;
  text-transform: uppercase;
}

.site-text{
  margin-top: 0;
  margin-bottom: 0;
}

.heading-site {
  margin-bottom: 20px;
  background-color: var(--bg-milky-light);
  background-image: url("../img/alfred.png"),
  url("../img/cup-coffee.jpg"),
  url("../img/bg-header.png");
  background-repeat: no-repeat;
  background-size: auto, contain, cover;
  background-position: left calc(50% - 40px) top 20px,
  left calc(50% + 355px) top calc(50% + 104px),
  center center;
}

.header-content{
  padding-top: 45px;
  padding-bottom: 45px;
}

.logo-link {
  display: block;
  margin-right: auto;
}

.logo-img {
  display: block;
  width: 235px;
  height: 24px;
}

.site-lists {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.site-nav-item:not(:last-child) {
  margin-right: 40px;
}

.site-nav-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-text);
}

.site-nav-link:hover{
  color: var(--bg-green);
}

.site-nav-link:active{
  opacity: 0.6;
}

.promo {
  margin-top: 0;
  padding-top: 111px;
  padding-bottom: 249px;
  max-width: 464px;
  margin-left: 100px;
}

.promo-header {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: var(--text-color);
}

.promo-text {
  margin-top: 0;
  margin-bottom: 34px;
  color: var(--text-color);
}

.site-feature {
  padding: 50px 143px;
  background-color: var(--bg-grey);
  background-image: url("../img/bg-grey.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.feature-header {
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
}

.feature-container:nth-child(odd){
  flex-direction: row-reverse;
  margin-left: 157px;
}

.feature-container:nth-child(even){
  margin-right: 157px;
}

.feature-container:nth-child(even) img{
  margin-right: 117px;
}

.feature-container:nth-child(odd) img{
  margin-left: 117px;
}

.feature-img {
  width: 450px;
  height: 375px;
}

.feature-heading {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}

.feature-text {
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
}

.site-intro {
padding: 50px 31px 80px 30px;
  background-image: url("../img/bg-intro.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}

.intro-site{
  background-color: var(--bg-green);
  padding: 50px 31px 50px 30px;
  background-image: url("../img/but-first-coffee.png"), url("../img/bg-green.png");
  background-position: right+80px top+40px, center center;
  background-size: auto, cover;
  background-repeat: no-repeat;
}

.intro-header {
  color: #FFFFFF;
  margin-bottom: 10px;
}


.intro-text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  max-width: 581px;
  font-weight: normal;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.intro-lists {
  margin: 0;
  margin-bottom: 60px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.intro-item {
  width: calc(100%/3 - 20px);
  list-style: none;
  padding-top: 40%;
}

.intro-item:nth-child(1){
  background-image: url("../img/man-with-coffee.jpg");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}

.intro-item:nth-child(2){
  background-image: url("../img/hot-coffee.jpg");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}

.intro-item:nth-child(3){
  background-image: url("../img/waiter-with-coffee.jpg");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}

.intro-item:not(:last-child){
  margin-right: 20px;
}

.item-intro{
  width: calc(100%/3 - 20px);
  list-style: none;
  padding: 0;
  padding-right: 20px;
  background-image: linear-gradient(to bottom, transparent 80px, #F8F8F2 80px);
}

.item-intro::before{
  display: block;
  width: 60px;
  height: 60px;
  content: "";
  background-color: #F8F8F2;
  border: 4px solid var(--bg-milky-dark);
  margin-bottom: 20px;
}

.intro-heading {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 35px;
}

.heading{
  color: #fff;
}

.intro-content{
  max-width: 385px;
  margin-left: 20px;
}

.number{
  margin-top: 0;
  margin-bottom: 45px;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  color: var(--color-text);
  opacity: 0.8;
  text-align: right;
}

.heading-intro{
  font-size: 40px;
  line-height: 47px;
}

.text-intro {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.text-width{
  max-width: 377px;
}

.site-footer{
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: var(--bg-milky-light);
  background-image: url("../img/bg-header.png");
  background-position: 0 0;
  background-size: cover;
}

.social-lists {
  padding-left: 0;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 331px;
  list-style: none;
}

.social-item:not(:last-child){
  margin-right: 30px;
}

.social-link {
  display: block;
  text-decoration: none;
  color: #333;
}

.social-link:hover{
  color: var(--bg-green);
}

.social-link:active{
  opacity: 0.8;
}

.social-link svg{
  display: block;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .site-heading{
    background-image:  url("../img/alfred@2x.png"),
    url("../img/cup-coffee@2x.jpg"),
    url("../img/bg-header@2x.png");
  }

  .site-feature {
    background-image: url("../img/bg-grey@2x.png");
  }

  .site-intro {
    background-image: url("../img/bg-intro@2x.png");
  }

  .intro-site{
    background-image: url("../img/bg-green@2x.png");
  }

  .intro-item:nth-child(1){
    background-image: url("../img/man-with-coffee@2x.jpg");
  }

  .intro-item:nth-child(2){
    background-image: url("../img/hot-coffee@2x.jpg");
  }

  .intro-item:nth-child(3){
    background-image: url("../img/waiter-with-coffee@2x.jpg");
  }


  .site-footer{
    background-image: url("../img/bg-header@2x.png");
  }
}